<li class="centered-block li-nopad" (mouseover)="isHovered = false" (mouseout)="isHovered = true">
    <div class="input-container">
        <label class="check" [class.hide]="isEdit">
            <input #isComplete type="checkbox"
                   [checked]="singleTodo.completed"
                   (change)="completeToggle()"
                   [class.hide]="isEdit"/>
            <span class="checkmark" [class.hide]="isEdit"></span>
        </label>


        <label class="label-name" *ngIf="!isEdit" (dblclick)="isEdit = true; setFocus()">{{singleTodo.name}}</label>
        <button
            *appPermissions="'todos_delete'"
            [ngClass]="{'hide-button' : isHovered}"
            class="delete-button"
            (click)="removeSingleTodo()"> X
        </button>
    </div>

    <input #editInput [type]="isEdit ? 'text' : 'hidden'"
           class="edit"
           [(ngModel)]="singleTodo.name"
           #ctrl="ngModel"
           (blur)="editName()"/>

</li>
